<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<body>
    <script src="/script.js"></script> <i class="fa fa-times-circle" aria-hidden="true"></i>
    <header>Reviews</header>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras fermentum accumsan nisi, et rutrum odio condimentum et. Donec odio eros, tempus sit amet ex at, hendrerit molestie tellus. Donec finibus eros nec finibus auctor. Fusce interdum et magna vitae dignissim. Quisque hendrerit ligula vel varius finibus. </P>
    <p> Vestibulum viverra posuere libero non egestas. Donec at auctor lectus. Quisque at fringilla leo. Vestibulum in ante nisl. Suspendisse sed turpis est. Sed dapibus accumsan purus, et venenatis odio auctor sed. Vivamus sodales ante leo, at bibendum quam laoreet in. </p>
    <p> Suspendisse sit amet erat convallis, pretium augue sit amet, efficitur leo. Donec in porta mauris. Nullam orci purus, varius vitae tincidunt sed, blandit non risus. Vivamus ornare nisl diam, vel ornare tortor viverra nec. Donec justo metus, elementum nec dignissim in, luctus vitae mauris. Pellentesque sit amet dignissim justo. Nunc molestie urna non velit elementum tincidunt. </p>
</body>

</html>